* { margin: 0; }
body {
  margin: 0 auto 60px auto;
  padding: 12px 0;
  background: #f2f2f2;
  font-family: 'Source Sans Pro'
}
.wrap {
  margin: 0 auto;
  max-width: 1024px;
}
@media screen and (max-width: 1024px) {
  .wrap { width: 90%; }
}


.button {
  display: inline-block;
  line-height: 30px;
  background: #9fa3af;
  padding: 3px;
  border-radius: 3px;
  color: #f2f2f2;
  margin: 0 0 14px 0;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}
.button + .button { margin-left: 14px; }
@media screen and (max-width: 1024px) {
  .button + .button { margin-left: 7px;}
}
input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 36px;
  padding: 2px;
}
.add-list {
  display: inline-block;
  background: url('add-list.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
}
.primary-input {
  border-radius: 3px;
  padding: 3px 6px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20);
}


h2 { 
  position: relative; 
  margin-top: 26px;
}
section:hover .list-control-strip { display: block; }
.section-title {
  background: transparent;
  border-bottom: 1px solid #9fa3af;
}
.list-control-strip {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
}
@media screen and (max-width: 1024px) {
  .list-control-strip { 
    top: 10px;
    display: block;
  }
}
.serialize-list { background: url('files-empty.svg'); }
.clear-list { background: url('clear-list.svg'); }
.delete-list { background: url('delete.svg'); }
.serialize-list,
.clear-list,
.delete-list {
  width: 30px;
  height: 30px;    
  background-size: 100%;
}
@media screen and (max-width: 1024px) {
  .serialize-list,
  .clear-list,
  .delete-list {
    height: 20px;
    width: 20px;
  }
}
ul {
  list-style-type: none;
  padding: 0;
}
.note-in-list { 
  position: relative; 
  border-bottom: 1px solid #d5d8e1;
}
  .note-in-list-input {
    background: transparent;
    font-size: 22px;
    color: #817D7D;
    padding: 7px 2px;
  }
.delete-note-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  font-weight: 600;
  color: #e44242; 

  cursor: pointer;
}
li.note-in-list:hover .delete-bug {
  display: inline-block;
}
.delete-note-button div { display: none; }
.delete-note-button:hover div { display: inline-block; }
.delete-bug {
  position: absolute;
  right: 0;
  top: 0;

  display: none;
  box-sizing: border-box;
  padding: 10px;
  background-color: transparent;
}
.delete-bug:hover {
  width: 100px;
  height: 39px;
}
.delete-bug-child,
.delete-primary {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #ccc;
  text-align: center;
}
.delete-primary {

  z-index: 3;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  line-height: 40px;
}
  .delete-primary .delete-list { 
    display: inline-block;
    width: 20px;
    height: 20px;
  }
    .delete-bug:hover > .delete-bug-child-1 { right: 35px; }
    .delete-bug:hover > .delete-bug-child-2 { right: 65px; }
.delete-bug-child {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  line-height: 30px;
  z-index: 2;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .delete-bug { display: inline-block; }
}
.new-note-in-list {
  box-sizing: border-box;
  margin-top: 4px;
  border: 1px dashed #817d7d;
  border-radius: 2px;
  padding: 3px;
  background: transparent;
  font-size: 24px;
}
